<div class="container my-3">
<div class="container d-flex flex-column shadow-sm">
  <div class="my-3">
    <%= params[:question] %> --- You
  </div>
  <div class="my-3">
    <%= @answer %> --- Your Coach
  </div>
</div>
</div>
