<div class="container my-3">
<h1>Ask your coach something!</h1>
<div class="container d-flex flex-column shadow-sm">
<form action="/answer" data-turbo="false" class="form-control justify-content-center">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>
</div>
